@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-size: 18px;
        font-family: var(--font-interstate-light);
    }

    .btn {
        font-size: 24px;
        font-family: var(--font-interstate-regular);
        @apply w-[210px] h-[50px] rounded-[20px] mx-auto
    }

    .btn:hover, .btn.active {
        @apply opacity-70
    }
}
